# Chart 5: NIER Fiscal Contribution by Country of Birth

## Data Source
**Konjunkturinstitutet (NIER)** — Specialstudie 117

| Field | Value |
|-------|-------|
| Report | Invandrades nettobidrag till de offentliga finanserna 1983–2022 |
| URL | https://www.konj.se/media/kpgnt5iw/specialstudie-117-invandrades-nettobidrag-till-de-offentliga-finanserna-1983-2022.pdf |
| Table | Tabell 8 (Bilaga 2) — Pages 52-53 |
| Published | June 2025 |

## Table Structure
- **Nettobidrag (*)**: Total net contribution in billions SEK (1990, 2005, 2022)
- **Nettobidrag per person (†)**: Per-capita in thousands SEK (1990, 2005, 2022)
- **Befolkning (‡)**: Population in thousands (1990, 2005, 2022)

In [41]:
# Install pdfplumber
!pip install pdfplumber -q

In [42]:
import pdfplumber
import pandas as pd
import requests

print("Libraries loaded")

Libraries loaded

In [43]:
# Download the PDF
pdf_url = "https://www.konj.se/media/kpgnt5iw/specialstudie-117-invandrades-nettobidrag-till-de-offentliga-finanserna-1983-2022.pdf"
pdf_path = "nier_report.pdf"

response = requests.get(pdf_url)
with open(pdf_path, 'wb') as f:
    f.write(response.content)

print(f"Downloaded: {pdf_path} ({len(response.content) / 1024:.0f} KB)")

Downloaded: nier_report.pdf (4481 KB)

In [44]:
# Extract tables from pages 52 and 53
# Tabell 8 spans both pages

all_rows = []

with pdfplumber.open('nier_report.pdf') as pdf:
    for page_num in [52, 53]:  # Pages 52 and 53
        page = pdf.pages[page_num]
        tables = page.extract_tables()

        print(f"\n=== Page {page_num} ===")
        print(f"Found {len(tables)} table(s)")

        if tables:
            table = tables[0]
            print(f"Table has {len(table)} rows")
            for i, row in enumerate(table):
                print(f"Row {i}: {row}")
            all_rows.extend(table)

print(f"\nTotal rows collected: {len(all_rows)}")

=== Page 52 ===
Found 1 table(s)
Table has 30 rows
Row 0: ['', '', None, None, 'Nettobidrag', None, None, '', None, None]
Row 1: ['', 'Nettobidrag (*)', None, None, 'per person (†)', None, None, 'Befolkning (‡)', None, None]
Row 2: ['Födelseland', '1990', '2005', '2022', '1990', '2005', '2022', '1990', '2005', '2022']
Row 3: ['Europa', '', '', '', '', '', '', '', '', '']
Row 4: ['Bosnien och', '', '', '', '', '', '', '', '', '']
Row 5: ['Hercegovina', '…', '−1,7', '3,6', '…', '−31', '60', '…', '55', '61']
Row 6: ['Danmark', '0,8', '−1,1', '−0,7', '17', '−25', '−18', '47', '45', '40']
Row 7: ['Finland', '6,6', '−0,3', '−13,7', '29', '−2', '−99', '224', '189', '138']
Row 8: ['Grekland', '−0,9', '−0,5', '−0,1', '−64', '−49', '−5', '13', '11', '21']
Row 9: ['Italien', '0,1', '−0,1', '0,8', '17', '−9', '49', '6', '7', '16']
Row 10: ['Jugoslavien', '−1,6', '−4,4', '−0,3', '−42', '−60', '−5', '38', '74', '62']
Row 11: ['Litauen', '…', '…', '1,2', '…', '…', '66', '…', '…', '18']
Row 12: ['Nederländerna', '…', '0,4', '1,1', '…', '66', '71', '…', '6', '15']
Row 13: ['Norge', '−0,6', '−1,8', '−0,6', '−10', '−37', '−15', '57', '47', '42']
Row 14: ['Polen', '−0,8', '0,0', '3,6', '−22', '−1', '36', '36', '47', '100']
Row 15: ['Rumänien', '−0,5', '0,1', '1,9', '−55', '5', '53', '9', '13', '36']
Row 16: ['Ryssland', '…', '−0,8', '1,8', '…', '−70', '72', '…', '11', '25']
Row 17: ['Serbien', '…', '…', '0,4', '…', '…', '22', '…', '…', '18']
Row 18: ['Storbritannien', '0,8', '1,9', '3,4', '68', '106', '100', '12', '18', '34']
Row 19: ['Turkiet', '−2,1', '−2,4', '0,8', '−83', '−67', '13', '25', '36', '57']
Row 20: ['Tyskland', '1,5', '−1,4', '−0,1', '40', '−34', '−2', '38', '42', '57']
Row 21: ['Ungern', '0,0', '−0,5', '−0,4', '2', '−37', '−24', '15', '14', '17']
Row 22: ['Afrika', '', '', '', '', '', '', '', '', '']
Row 23: ['Eritrea', '…', '0,0', '−1,7', '…', '−7', '−35', '…', '6', '49']
Row 24: ['Etiopien', '−0,6', '−0,1', '0,0', '−78', '−8', '1', '7', '11', '23']
Row 25: ['Somalia', '…', '−2,5', '−5,6', '…', '−150', '−79', '…', '17', '71']
Row 26: ['Nord- och', '', '', '', '', '', '', '', '', '']
Row 27: ['Sydamerika', '', '', '', '', '', '', '', '', '']
Row 28: ['Chile', '−2,1', '0,1', '0,8', '−76', '2', '30', '28', '28', '28']
Row 29: ['USA', '−0,2', '0,2', '1,9', '−14', '11', '74', '14', '16', '26']

=== Page 53 ===
Found 1 table(s)
Table has 15 rows
Row 0: ['', '', None, None, 'Nettobidrag', None, None, '', None, None]
Row 1: ['', 'Nettobidrag (*)', None, None, 'per person (†)', None, None, 'Befolkning (‡)', None, None]
Row 2: ['Födelseland', '1990', '2005', '2022', '1990', '2005', '2022', '1990', '2005', '2022']
Row 3: ['Asien', '', '', '', '', '', '', '', '', '']
Row 4: ['Afghanistan', '…', '−1,4', '−1,2', '…', '−166', '−19', '…', '8', '66']
Row 5: ['Filippinerna', '…', '−0,2', '0,5', '…', '−24', '27', '…', '7', '17']
Row 6: ['Indien', '−0,6', '−0,1', '6,6', '−70', '−8', '119', '9', '14', '56']
Row 7: ['Irak', '−0,9', '−9,9', '−1,2', '−98', '−137', '−8', '9', '73', '149']
Row 8: ['Iran', '−4,4', '−1,5', '5,2', '−111', '−28', '60', '40', '55', '86']
Row 9: ['Kina', '…', '−0,8', '1,3', '…', '−56', '32', '…', '14', '39']
Row 10: ['Libanon', '−1,9', '−1,7', '0,3', '−135', '−80', '9', '14', '22', '30']
Row 11: ['Pakistan', '…', '…', '−0,6', '…', '…', '−23', '…', '…', '28']
Row 12: ['Syrien', '−1,0', '−1,5', '−17,8', '−122', '−89', '−89', '8', '17', '200']
Row 13: ['Thailand', '…', '−0,9', '0,6', '…', '−47', '13', '…', '18', '46']
Row 14: ['Vietnam', '−0,4', '−0,6', '0,2', '−68', '−50', '11', '6', '12', '22']

Total rows collected: 45

In [45]:
# Filter and clean rows - handle split country names (e.g., "Bosnien och" + "Hercegovina")
data_rows = []
pending_name = None  # Store first part of split names

for row in all_rows:
    if row is None or len(row) < 10:
        continue

    first_cell = str(row[0]).strip() if row[0] else ''

    # Skip empty rows
    if not first_cell:
        continue

    # Skip region headers
    if first_cell in region_headers:
        continue

    # Skip header rows
    if any(kw in first_cell for kw in header_keywords):
        continue

    # Check if this row has data (any non-empty numeric cell)
    has_data = any(row[i] and str(row[i]).strip() not in ['', '…'] for i in range(1, 10))

    if not has_data:
        # This is the first part of a split name (e.g., "Bosnien och")
        pending_name = first_cell
        continue

    # This row has data
    if pending_name:
        # Combine with pending name (e.g., "Bosnien och" + "Hercegovina")
        row = [f"{pending_name} {first_cell}"] + list(row[1:10])
        pending_name = None
    else:
        row = row[:10]

    data_rows.append(row)

print(f"Data rows after filtering: {len(data_rows)}")
for row in data_rows:
    print(row)

Data rows after filtering: 33
['Bosnien och Hercegovina', '…', '−1,7', '3,6', '…', '−31', '60', '…', '55', '61']
['Danmark', '0,8', '−1,1', '−0,7', '17', '−25', '−18', '47', '45', '40']
['Finland', '6,6', '−0,3', '−13,7', '29', '−2', '−99', '224', '189', '138']
['Grekland', '−0,9', '−0,5', '−0,1', '−64', '−49', '−5', '13', '11', '21']
['Italien', '0,1', '−0,1', '0,8', '17', '−9', '49', '6', '7', '16']
['Jugoslavien', '−1,6', '−4,4', '−0,3', '−42', '−60', '−5', '38', '74', '62']
['Litauen', '…', '…', '1,2', '…', '…', '66', '…', '…', '18']
['Nederländerna', '…', '0,4', '1,1', '…', '66', '71', '…', '6', '15']
['Norge', '−0,6', '−1,8', '−0,6', '−10', '−37', '−15', '57', '47', '42']
['Polen', '−0,8', '0,0', '3,6', '−22', '−1', '36', '36', '47', '100']
['Rumänien', '−0,5', '0,1', '1,9', '−55', '5', '53', '9', '13', '36']
['Ryssland', '…', '−0,8', '1,8', '…', '−70', '72', '…', '11', '25']
['Serbien', '…', '…', '0,4', '…', '…', '22', '…', '…', '18']
['Storbritannien', '0,8', '1,9', '3,4', '68', '106', '100', '12', '18', '34']
['Turkiet', '−2,1', '−2,4', '0,8', '−83', '−67', '13', '25', '36', '57']
['Tyskland', '1,5', '−1,4', '−0,1', '40', '−34', '−2', '38', '42', '57']
['Ungern', '0,0', '−0,5', '−0,4', '2', '−37', '−24', '15', '14', '17']
['Eritrea', '…', '0,0', '−1,7', '…', '−7', '−35', '…', '6', '49']
['Etiopien', '−0,6', '−0,1', '0,0', '−78', '−8', '1', '7', '11', '23']
['Somalia', '…', '−2,5', '−5,6', '…', '−150', '−79', '…', '17', '71']
['Chile', '−2,1', '0,1', '0,8', '−76', '2', '30', '28', '28', '28']
['USA', '−0,2', '0,2', '1,9', '−14', '11', '74', '14', '16', '26']
['Afghanistan', '…', '−1,4', '−1,2', '…', '−166', '−19', '…', '8', '66']
['Filippinerna', '…', '−0,2', '0,5', '…', '−24', '27', '…', '7', '17']
['Indien', '−0,6', '−0,1', '6,6', '−70', '−8', '119', '9', '14', '56']
['Irak', '−0,9', '−9,9', '−1,2', '−98', '−137', '−8', '9', '73', '149']
['Iran', '−4,4', '−1,5', '5,2', '−111', '−28', '60', '40', '55', '86']
['Kina', '…', '−0,8', '1,3', '…', '−56', '32', '…', '14', '39']
['Libanon', '−1,9', '−1,7', '0,3', '−135', '−80', '9', '14', '22', '30']
['Pakistan', '…', '…', '−0,6', '…', '…', '−23', '…', '…', '28']
['Syrien', '−1,0', '−1,5', '−17,8', '−122', '−89', '−89', '8', '17', '200']
['Thailand', '…', '−0,9', '0,6', '…', '−47', '13', '…', '18', '46']
['Vietnam', '−0,4', '−0,6', '0,2', '−68', '−50', '11', '6', '12', '22']

In [47]:
# Define column names
columns = [
    'country',
    'netto_1990', 'netto_2005', 'netto_2022',
    'per_person_1990', 'per_person_2005', 'per_person_2022',
    'pop_1990', 'pop_2005', 'pop_2022'
]

# Region headers to skip
region_headers = ['Europa', 'Afrika', 'Asien', 'Nord- och', 'Sydamerika', 'Nord- och Sydamerika']

# Header keywords to skip
header_keywords = ['Födelseland', 'Nettobidrag', 'per person', 'Befolkning', '1990', '2005', '2022']

# Filter and clean rows - handle split country names
data_rows = []
pending_name = None

for row in all_rows:
    if row is None or len(row) < 10:
        continue

    first_cell = str(row[0]).strip() if row[0] else ''

    if not first_cell:
        continue

    if first_cell in region_headers:
        continue

    if any(kw in first_cell for kw in header_keywords):
        continue

    # Check if this row has data
    has_data = any(row[i] and str(row[i]).strip() not in ['', '…'] for i in range(1, 10))

    if not has_data:
        pending_name = first_cell
        continue

    if pending_name:
        row = [f"{pending_name} {first_cell}"] + list(row[1:10])
        pending_name = None
    else:
        row = row[:10]

    data_rows.append(row)

print(f"Data rows after filtering: {len(data_rows)}")
for row in data_rows:
    print(row)

Data rows after filtering: 33
['Bosnien och Hercegovina', '…', '−1,7', '3,6', '…', '−31', '60', '…', '55', '61']
['Danmark', '0,8', '−1,1', '−0,7', '17', '−25', '−18', '47', '45', '40']
['Finland', '6,6', '−0,3', '−13,7', '29', '−2', '−99', '224', '189', '138']
['Grekland', '−0,9', '−0,5', '−0,1', '−64', '−49', '−5', '13', '11', '21']
['Italien', '0,1', '−0,1', '0,8', '17', '−9', '49', '6', '7', '16']
['Jugoslavien', '−1,6', '−4,4', '−0,3', '−42', '−60', '−5', '38', '74', '62']
['Litauen', '…', '…', '1,2', '…', '…', '66', '…', '…', '18']
['Nederländerna', '…', '0,4', '1,1', '…', '66', '71', '…', '6', '15']
['Norge', '−0,6', '−1,8', '−0,6', '−10', '−37', '−15', '57', '47', '42']
['Polen', '−0,8', '0,0', '3,6', '−22', '−1', '36', '36', '47', '100']
['Rumänien', '−0,5', '0,1', '1,9', '−55', '5', '53', '9', '13', '36']
['Ryssland', '…', '−0,8', '1,8', '…', '−70', '72', '…', '11', '25']
['Serbien', '…', '…', '0,4', '…', '…', '22', '…', '…', '18']
['Storbritannien', '0,8', '1,9', '3,4', '68', '106', '100', '12', '18', '34']
['Turkiet', '−2,1', '−2,4', '0,8', '−83', '−67', '13', '25', '36', '57']
['Tyskland', '1,5', '−1,4', '−0,1', '40', '−34', '−2', '38', '42', '57']
['Ungern', '0,0', '−0,5', '−0,4', '2', '−37', '−24', '15', '14', '17']
['Eritrea', '…', '0,0', '−1,7', '…', '−7', '−35', '…', '6', '49']
['Etiopien', '−0,6', '−0,1', '0,0', '−78', '−8', '1', '7', '11', '23']
['Somalia', '…', '−2,5', '−5,6', '…', '−150', '−79', '…', '17', '71']
['Chile', '−2,1', '0,1', '0,8', '−76', '2', '30', '28', '28', '28']
['USA', '−0,2', '0,2', '1,9', '−14', '11', '74', '14', '16', '26']
['Afghanistan', '…', '−1,4', '−1,2', '…', '−166', '−19', '…', '8', '66']
['Filippinerna', '…', '−0,2', '0,5', '…', '−24', '27', '…', '7', '17']
['Indien', '−0,6', '−0,1', '6,6', '−70', '−8', '119', '9', '14', '56']
['Irak', '−0,9', '−9,9', '−1,2', '−98', '−137', '−8', '9', '73', '149']
['Iran', '−4,4', '−1,5', '5,2', '−111', '−28', '60', '40', '55', '86']
['Kina', '…', '−0,8', '1,3', '…', '−56', '32', '…', '14', '39']
['Libanon', '−1,9', '−1,7', '0,3', '−135', '−80', '9', '14', '22', '30']
['Pakistan', '…', '…', '−0,6', '…', '…', '−23', '…', '…', '28']
['Syrien', '−1,0', '−1,5', '−17,8', '−122', '−89', '−89', '8', '17', '200']
['Thailand', '…', '−0,9', '0,6', '…', '−47', '13', '…', '18', '46']
['Vietnam', '−0,4', '−0,6', '0,2', '−68', '−50', '11', '6', '12', '22']

In [48]:
# Create DataFrame
df = pd.DataFrame(data_rows, columns=columns)

# Clean function for Swedish numbers
def clean_num(val):
    if pd.isna(val) or val in ['', None, '…', '...']:
        return None
    s = str(val).strip()
    if s in ['…', '...', '']:
        return None
    # Remove spaces, replace comma with period, fix minus signs
    s = s.replace(' ', '').replace('\xa0', '')
    s = s.replace(',', '.')
    s = s.replace('−', '-').replace('–', '-').replace('—', '-')
    try:
        return float(s)
    except:
        return None

# Apply cleaning to numeric columns
numeric_cols = [c for c in columns if c != 'country']
for col in numeric_cols:
    df[col] = df[col].apply(clean_num)

# Clean country names
df['country'] = df['country'].str.strip()

# Handle multi-line country names (e.g., "Bosnien och" + "Hercegovina")
# These should already be combined by pdfplumber, but check
df = df[df['country'] != '']

print(f"\nCleaned DataFrame ({len(df)} countries):")
print(df.to_string())

Cleaned DataFrame (33 countries):
                    country  netto_1990  netto_2005  netto_2022  per_person_1990  per_person_2005  per_person_2022  pop_1990  pop_2005  pop_2022
0   Bosnien och Hercegovina         NaN        -1.7         3.6              NaN            -31.0             60.0       NaN      55.0      61.0
1                   Danmark         0.8        -1.1        -0.7             17.0            -25.0            -18.0      47.0      45.0      40.0
2                   Finland         6.6        -0.3       -13.7             29.0             -2.0            -99.0     224.0     189.0     138.0
3                  Grekland        -0.9        -0.5        -0.1            -64.0            -49.0             -5.0      13.0      11.0      21.0
4                   Italien         0.1        -0.1         0.8             17.0             -9.0             49.0       6.0       7.0      16.0
5               Jugoslavien        -1.6        -4.4        -0.3            -42.0            -60.0             -5.0      38.0      74.0      62.0
6                   Litauen         NaN         NaN         1.2              NaN              NaN             66.0       NaN       NaN      18.0
7             Nederländerna         NaN         0.4         1.1              NaN             66.0             71.0       NaN       6.0      15.0
8                     Norge        -0.6        -1.8        -0.6            -10.0            -37.0            -15.0      57.0      47.0      42.0
9                     Polen        -0.8         0.0         3.6            -22.0             -1.0             36.0      36.0      47.0     100.0
10                 Rumänien        -0.5         0.1         1.9            -55.0              5.0             53.0       9.0      13.0      36.0
11                 Ryssland         NaN        -0.8         1.8              NaN            -70.0             72.0       NaN      11.0      25.0
12                  Serbien         NaN         NaN         0.4              NaN              NaN             22.0       NaN       NaN      18.0
13           Storbritannien         0.8         1.9         3.4             68.0            106.0            100.0      12.0      18.0      34.0
14                  Turkiet        -2.1        -2.4         0.8            -83.0            -67.0             13.0      25.0      36.0      57.0
15                 Tyskland         1.5        -1.4        -0.1             40.0            -34.0             -2.0      38.0      42.0      57.0
16                   Ungern         0.0        -0.5        -0.4              2.0            -37.0            -24.0      15.0      14.0      17.0
17                  Eritrea         NaN         0.0        -1.7              NaN             -7.0            -35.0       NaN       6.0      49.0
18                 Etiopien        -0.6        -0.1         0.0            -78.0             -8.0              1.0       7.0      11.0      23.0
19                  Somalia         NaN        -2.5        -5.6              NaN           -150.0            -79.0       NaN      17.0      71.0
20                    Chile        -2.1         0.1         0.8            -76.0              2.0             30.0      28.0      28.0      28.0
21                      USA        -0.2         0.2         1.9            -14.0             11.0             74.0      14.0      16.0      26.0
22              Afghanistan         NaN        -1.4        -1.2              NaN           -166.0            -19.0       NaN       8.0      66.0
23             Filippinerna         NaN        -0.2         0.5              NaN            -24.0             27.0       NaN       7.0      17.0
24                   Indien        -0.6        -0.1         6.6            -70.0             -8.0            119.0       9.0      14.0      56.0
25                     Irak        -0.9        -9.9        -1.2            -98.0           -137.0             -8.0       9.0      73.0     149.0
26                     Iran        -4.4        -1.5         5.2           -111.0            -28.0             60.0      40.0      55.0      86.0
27                     Kina         NaN        -0.8         1.3              NaN            -56.0             32.0       NaN      14.0      39.0
28                  Libanon        -1.9        -1.7         0.3           -135.0            -80.0              9.0      14.0      22.0      30.0
29                 Pakistan         NaN         NaN        -0.6              NaN              NaN            -23.0       NaN       NaN      28.0
30                   Syrien        -1.0        -1.5       -17.8           -122.0            -89.0            -89.0       8.0      17.0     200.0
31                 Thailand         NaN        -0.9         0.6              NaN            -47.0             13.0       NaN      18.0      46.0
32                  Vietnam        -0.4        -0.6         0.2            -68.0            -50.0             11.0       6.0      12.0      22.0

In [49]:
# Create slope chart data: 2005 → 2022 per-person values
# Filter to countries with both years

df_valid = df.dropna(subset=['per_person_2005', 'per_person_2022']).copy()
print(f"Countries with both 2005 and 2022 data: {len(df_valid)}")
print(df_valid[['country', 'per_person_2005', 'per_person_2022']])

Countries with both 2005 and 2022 data: 30
                    country  per_person_2005  per_person_2022
0   Bosnien och Hercegovina            -31.0             60.0
1                   Danmark            -25.0            -18.0
2                   Finland             -2.0            -99.0
3                  Grekland            -49.0             -5.0
4                   Italien             -9.0             49.0
5               Jugoslavien            -60.0             -5.0
7             Nederländerna             66.0             71.0
8                     Norge            -37.0            -15.0
9                     Polen             -1.0             36.0
10                 Rumänien              5.0             53.0
11                 Ryssland            -70.0             72.0
13           Storbritannien            106.0            100.0
14                  Turkiet            -67.0             13.0
15                 Tyskland            -34.0             -2.0
16                   Ungern            -37.0            -24.0
17                  Eritrea             -7.0            -35.0
18                 Etiopien             -8.0              1.0
19                  Somalia           -150.0            -79.0
20                    Chile              2.0             30.0
21                      USA             11.0             74.0
22              Afghanistan           -166.0            -19.0
23             Filippinerna            -24.0             27.0
24                   Indien             -8.0            119.0
25                     Irak           -137.0             -8.0
26                     Iran            -28.0             60.0
27                     Kina            -56.0             32.0
28                  Libanon            -80.0              9.0
30                   Syrien            -89.0            -89.0
31                 Thailand            -47.0             13.0
32                  Vietnam            -50.0             11.0

In [50]:
# Melt to long format for Vega-Lite slope chart
df_slope = pd.melt(
    df_valid[['country', 'per_person_2005', 'per_person_2022']],
    id_vars=['country'],
    var_name='year_col',
    value_name='net_contribution_per_person'
)

# Extract year
df_slope['year'] = df_slope['year_col'].str.extract(r'(\d{4})').astype(int)
df_slope = df_slope[['country', 'year', 'net_contribution_per_person']]
df_slope = df_slope.sort_values(['country', 'year']).reset_index(drop=True)

print("Slope chart data (long format):")
print(df_slope.to_string())

Slope chart data (long format):
                    country  year  net_contribution_per_person
0               Afghanistan  2005                       -166.0
1               Afghanistan  2022                        -19.0
2   Bosnien och Hercegovina  2005                        -31.0
3   Bosnien och Hercegovina  2022                         60.0
4                     Chile  2005                          2.0
5                     Chile  2022                         30.0
6                   Danmark  2005                        -25.0
7                   Danmark  2022                        -18.0
8                   Eritrea  2005                         -7.0
9                   Eritrea  2022                        -35.0
10                 Etiopien  2005                         -8.0
11                 Etiopien  2022                          1.0
12             Filippinerna  2005                        -24.0
13             Filippinerna  2022                         27.0
14                  Finland  2005                         -2.0
15                  Finland  2022                        -99.0
16                 Grekland  2005                        -49.0
17                 Grekland  2022                         -5.0
18                   Indien  2005                         -8.0
19                   Indien  2022                        119.0
20                     Irak  2005                       -137.0
21                     Irak  2022                         -8.0
22                     Iran  2005                        -28.0
23                     Iran  2022                         60.0
24                  Italien  2005                         -9.0
25                  Italien  2022                         49.0
26              Jugoslavien  2005                        -60.0
27              Jugoslavien  2022                         -5.0
28                     Kina  2005                        -56.0
29                     Kina  2022                         32.0
30                  Libanon  2005                        -80.0
31                  Libanon  2022                          9.0
32            Nederländerna  2005                         66.0
33            Nederländerna  2022                         71.0
34                    Norge  2005                        -37.0
35                    Norge  2022                        -15.0
36                    Polen  2005                         -1.0
37                    Polen  2022                         36.0
38                 Rumänien  2005                          5.0
39                 Rumänien  2022                         53.0
40                 Ryssland  2005                        -70.0
41                 Ryssland  2022                         72.0
42                  Somalia  2005                       -150.0
43                  Somalia  2022                        -79.0
44           Storbritannien  2005                        106.0
45           Storbritannien  2022                        100.0
46                   Syrien  2005                        -89.0
47                   Syrien  2022                        -89.0
48                 Thailand  2005                        -47.0
49                 Thailand  2022                         13.0
50                  Turkiet  2005                        -67.0
51                  Turkiet  2022                         13.0
52                 Tyskland  2005                        -34.0
53                 Tyskland  2022                         -2.0
54                      USA  2005                         11.0
55                      USA  2022                         74.0
56                   Ungern  2005                        -37.0
57                   Ungern  2022                        -24.0
58                  Vietnam  2005                        -50.0
59                  Vietnam  2022                         11.0

In [51]:
# Export CSVs
df.to_csv('p5_full_table.csv', index=False)
df_slope.to_csv('p5_data.csv', index=False)

print("Exported:")
print("  - p5_full_table.csv (wide format, all columns)")
print("  - p5_data.csv (slope chart format)")
print("\np5_data.csv preview:")
print(df_slope.head(20))

Exported:
  - p5_full_table.csv (wide format, all columns)
  - p5_data.csv (slope chart format)

p5_data.csv preview:
                    country  year  net_contribution_per_person
0               Afghanistan  2005                       -166.0
1               Afghanistan  2022                        -19.0
2   Bosnien och Hercegovina  2005                        -31.0
3   Bosnien och Hercegovina  2022                         60.0
4                     Chile  2005                          2.0
5                     Chile  2022                         30.0
6                   Danmark  2005                        -25.0
7                   Danmark  2022                        -18.0
8                   Eritrea  2005                         -7.0
9                   Eritrea  2022                        -35.0
10                 Etiopien  2005                         -8.0
11                 Etiopien  2022                          1.0
12             Filippinerna  2005                        -24.0
13             Filippinerna  2022                         27.0
14                  Finland  2005                         -2.0
15                  Finland  2022                        -99.0
16                 Grekland  2005                        -49.0
17                 Grekland  2022                         -5.0
18                   Indien  2005                         -8.0
19                   Indien  2022                        119.0

In [52]:
from google.colab import files
files.download('p5_data.csv')
files.download('p5_full_table.csv')

---
## Summary

### Data Pipeline
```
NIER Specialstudie 117 (PDF)
    ↓
pdfplumber: extract pages 52 + 53
    ↓
Combine tables, filter region headers
    ↓
Clean Swedish number format
    ↓
Melt to long format (country, year, value)
    ↓
CSV export for Vega-Lite slope chart
```

### Key Insight
The per-person values show fiscal integration over time. Countries like Afghanistan improved from -166k SEK (2005) to -19k SEK (2022).

### Source
Konjunkturinstitutet (2025). "Invandrades nettobidrag till de offentliga finanserna 1983–2022". Specialstudie 117, Tabell 8.